pandas==1.4.3
streamlit_pandas_profiling==0.1.2
streamlit==1.11.0
numpy==1.23.0
scikit_learn==1.1
plotly_express==0.4.1
plotly==5.1.0
wordcloud==1.8.1
nltk==3.6.2
textblob==0.15.3
findspark
pyspark
tweepy==3.10.0
python-decouple==3.4